h1 {
  color: olive;
  text-align: center;
  margin: 3% 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 4%;
  width: 400px;
  border: 2px solid olive;
  border-radius: 5px;
}

.firstRow {
  background: gray;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.display {
  padding: 3% 5%;
}

.btn.zero {
  width: 50%;
}

.btn {
  width: 25%;
  border: 0.5px solid gray;
  outline: none;
  cursor: pointer;
  height: 60px;
}

.btn:hover {
  background-color: burlywood;
}

.btn:focus {
  background-color: burlywood;
}

.orange {
  background-color: orange;
}

.quoteDiv {
  text-align: center;
  font-size: large;
  letter-spacing: 0.1mm;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
